html {
    --colorPrimary: rgb(9, 26, 73);
    --colorLight: white;
    --colorDark: rgb(0, 0, 0);
    --colorGray: gray;

    --colorBlendA: rgb(153, 35, 163);
    --colorBlendB: rgb(0, 102, 255);
    --colorBlendC: orange;

    --colorRed: rgb(246, 29, 29);

    font-family: "Montserrat", sans-serif;
    font-size: 14px !important;
    color: var(--colorDark); /* Default colors */

    --paddingApp: 15px; 

    /* Navbar */
    --navbarHeight: 65px;
    --navbarBottomMargin:5px;
}

body {
    margin: 0
}