.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin: -4px;

    color: gray;
}

.containerLogo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.containerLogo > span {
    font-size: 28px;
}

.containerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    margin: 2px 0;
}

.small {
    font-size: 8px;
}

.large {
    font-style: italic;
    font-size: 12px;
}
